project_dir_remote: <project_dir_on_remote_machine>
http_proxy: <http_proxy>
no_proxy: <no_proxy>
eiffelactory_docker_image: <eiffelactory_docker_image_location>
filebeat_docker_image:  <filebeat_docker_image_location>