[rabbitmq]
username = someusername
password = somepassword
host = localhost
port = 15672
vhost = /
exchange = someexchange
exchange_type = topic
routing_key = #
queue = somequeue
prefetch_count = 50

[artifactory]
url = https://localhost:8081/artifactory
username = someusername
password = somepassword
aql_search_string =
    items.find(
        {{
            "artifact.name":"{artifact_name}",
            "artifact.module.build.url":
                {{"$match":"*{build_path_substring}*"}}
         }}
    ).include("name","repo","path")

[eiffelactory]
# used to filter received messages by meta.source.name
# if event_sources is not included, all ArtC events are processed
event_sources = META_SOURCE_NAME, another-source_name