version: "3.6"

services:
  eiffelactory:
    image: {{ eiffelactory_docker_image }}
    volumes:
      - type: bind
        source: ./conf
        target: /app/conf
      - type: bind
        source: ./filebeat-logs
        target: /app/logs
  filebeat:
    image: {{ filebeat_docker_image }}
    volumes:
      - type: bind
        source: ./filebeat-logs
        target: /var/log
